html{
  min-height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./img/mario-bg.png) no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-color: #95e8f3;
  min-height: 100%;
}
form{
  padding: 20px;
  margin-top: 60px;
}
form button, form h5{
  margin: 20px 0;
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hamburger{
  display: none;
}
.sidenav-trigger {
  float: right !important;
  /* display: none !important; */
}

.cyan-icon{
  color: #95e8f3;
}

/* Profile CSS */

.profile-pic {
  width: 100%;
  height: 100%;
}
.default-pic {
  width: 50%;
  height: 50%;
}

.image-section{
  position: relative;
}
#progress-bar {
  visibility: hidden;
  z-index: 9;
  height: 10px;
  width: 100%;
  position: absolute;
}
#progress-status {
  height: 100%;
  margin: 0%;
  width: 5%;
}
.btn {
  align-items: center;
  margin: auto;
}

.card-custom{
  padding: 1% 0%;
}

@media only screen and (max-width: 800px) {
  .brand-logo{
    left: 25% !important;
  }
  h1 {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }
  h1 {
    font-size: 2rem;
  }
  .desktop-nav{
    display: none;
  }
  .brand-logo{
    left: 25% !important;
  }
  .hamburger{
    display: inline-block;
  }
  .sidenav-trigger {
    display: block !important;
  }
}